@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --inter: "Inter", sans-serif;
  --bacground-white: #FBFBFB;
  --top-bar-background: #F5F5F5;
  --balck: #222222;
  --btn-black: #211F1F;
  --gray: #666666;
  --light-white: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--inter);

  .search-filled-icon {
    display: none;
  }

  li a:hover .search-outlined-icon {
    display: none;
  }

  li a:hover .search-filled-icon {
    display: inline;
  }
}


@media screen and (max-width:480px) {
  .main-container {
    background-color: var(--bacground-white);
    display: flex;
    height: 100vh;
  }

  .top-bar {
    position: fixed;
    background-color: var(--bacground-white);
    display: flex;
    height: 55px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1rem, 2vw, 3rem);
    box-shadow: 0 0 6px black;
    font-size: 0.8rem;
  }

  .sidebar-section {
    display: none;
  }

  .hero-section {
    display: none;
  }

  .mobile-footer {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: start;
    z-index: 999;
  }

  .navbar {
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color: var(--light-white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    width: 100vw;
  }

  .navbar-menu li {
    display: flex;
    align-items: center;
  }

  .navbar-menu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-content {
    display: none;
  }
  .post-container {
    display: none;
  }
}

@media screen and (max-width:600px) {

  .main-container {
    background-color: var(--bacground-white);
    display: flex;
    height: 100vh;
  }

  .top-bar {
    position: fixed;
    background-color: var(--bacground-white);
    display: flex;
    height: 55px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1rem, 2vw, 3rem);
    box-shadow: 0 0 6px black;

  }

  .sidebar-section {
    display: none;
  }

  .hero-section {
    display: none;
  }

  .mobile-footer {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: start;
    z-index: 999;
  }

  .navbar {
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color: var(--light-white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    width: 100vw;
  }

  .navbar-menu li {
    display: flex;
    align-items: center;
  }

  .navbar-menu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .post-content {
    display: none;
  }
  .post-container {
    display: none;
  }

}


@media screen and (max-width:768px) {
  .main-container {
    background-color: var(--bacground-white);
    display: flex;
    height: 100vh;
  }

  .top-bar {
    position: fixed;
    background-color: var(--bacground-white);
    display: flex;
    height: 55px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1rem, 2vw, 3rem);
    box-shadow: 0 0 6px black;
  }

  .sidebar-section {
    display: none;
  }

  .hero-section {
    display: none;
  }

  .mobile-footer {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: start;
    z-index: 999;
  }

  .navbar {
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color: var(--light-white);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    width: 100vw;
  }

  .navbar-menu li {
    display: flex;
    align-items: center;
  }

  .navbar-menu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .post-content {
    display: none;
  }
  .post-container {
    display: none;
  }


}

@media (max-width: 992px) {

  .sidebar-section-title {
    font-size: 9px;
    font-weight: 900;
  }

  .post-btn {
    width: 130px;
    height: 30px;
  }

  .post-desiders {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .sidebar-section-main {
    font-size: 12px;
    font-weight: 600;
  }

  .post-btn {
    width: 170px;
    height: 30px;
  }
}