@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root {
    --inter: "Inter", sans-serif;
    --bacground-white: #FBFBFB;
    --top-bar-background: #F5F5F5;
    --post-background: #D9D9D9;
    --balck: #222222;
    --btn-black: #211F1F;
    --gray: #666666;
    --light-black: #7B7B7B;
    --btn-background: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}



/* Main container */
#main-container {
    background-color: var(--light-black);
    display: grid;
    height: 100vh;
    grid-template-columns: 25% auto 35%;
    gap: 1px;
    position: relative;
}

#mobile-view {
    display: none;
}

/* upload post container */



/*  */
#top-bar {
    display: none;
}

.user-icon {
    height: 26px;
    width: 30px;
    border-radius: 16px;
}

/* Side section */
#sidebar-section {
    background-color: var(--bacground-white);
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    padding: clamp(1rem, 2vw, 3rem);
    justify-content: space-between;
    padding-bottom: 100px;
}

#sidebar-section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#sidebar-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--inter);
}

/*Navbar*/
#navbar-menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 1;
}

#navbar-menu li {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 140px ;
    height: 6vh;
    border-radius: 20px;
    justify-content: center;
}

#navbar-menu li a {
    text-decoration: none;
    color: var(--gray);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#navbar-menu li img {
    width: 24px;
    height: 24px;
}

/* Nav menu hover */

#navbar-menu li:hover {
    background-color: rgb(235, 234, 234);
}









/* Post */
#post-btn {
    margin-top: 16px;
    background-color: var(--btn-black);
    color: var(--bacground-white);
    display: flex;
    width: 60%;
    height: 6%;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    font-family: var(--inter);
}

/* -------------------------------------------------- */

#hero-section {
    background-color: var(--bacground-white);
}

#hero-section-topbar {
    z-index: 999;
    background-color: var(--top-bar-background);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px;
    height: 80px;
}

#hero-section-topbar-searchbar {
    background-color: var(--bacground-white);
    display: flex;
    height: 42px;
    width: 23vw;
    border: 1px solid black;
    align-items: center;
    border-radius: 24px;
    gap: 6px;
}

#hero-section-topbar img {
    width: 28px;
    height: 20px;
    padding-left: 10px;
}

#hero-section-topbar-searchbar input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 20px;
    width: 17.5vw;
    font-family: var(--inter);
    font-size: 16px;
}

#hero-section-topbar-searchbar input::placeholder {
    color: black;
}

#hero-section-container {
    z-index: 2;
    display: grid;
    grid-row: auto;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 85vh;
}

#hero-section-container::-webkit-scrollbar {
    display: none;
}

#hero-section-content-box {
    overflow: hidden;
    background-color: var(--bacground-white);
    z-index: 1;
    margin: 1vw 2vw;
    border: 1px solid var(--light-black);
    border-radius: 24px;
    height: fit-content;
    padding: 16px;
}


#hero-post-user {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 16px;
}

#hero-post-section-option-icon {
    display: flex;
    justify-content: end;
    width: 50%;

}

#hero-option-icon {
    width: 20px;
    height: 18px;
}

#hero-post-profile {
    display: flex;
    gap: 6px;
}

#hero-user-details {
    font-family: var(--inter);
}

#hero-post-user-details {
    gap: 4px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

#hero-post-user-details p {
    font-size: 10px;
    color: var(--gray);
}

#hero-post-text-content {
    /* background-color: red; */
    margin:14px 0px;
}

#post-text-area {
    /* background-color: red; */
    padding:0 24px ;
    font-family: var(--inter);
    color: var(--balck);
    font-size: 13px;
    text-align: justify;
}


#readme {
    color: var(--gray);
    font-size: 10px;
    padding: 4px 24px;
}

#readme:hover {
    cursor: pointer;
    color: blue;
}


#hero-section-media { 
    /* background-color: crimson; */
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 14px;
    margin: 2px 20px;
}

#hero-section-media img {
    /* background-color: red; */
    max-width: 100%;
    max-height: 60%;
}

#hero-like-comment{
    /* background-color: red; */
    margin:20px 16px 0px 16px;
    padding:0 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.group-btn {
    display: flex;
    font-family: var(inter);
    font-size: 0.8rem;
    color: var(--light-black);
    gap: 4px;
    cursor: pointer;
}
#like-btn {
    width: 18px;
    height: 18px;
}
#comment-btn{
    width: 18px;
    height: 18px;

}
#save-btn {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* --------------------------------------------------- */
#comment-section {
    background-color: var(--bacground-white);
}


/*  */
#mobile-navbar {
    display: none;
}